<a class="brand" href="{{ url_for('home.index') }}"> RTA </a>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <h3><a class="brand" href="{{ url_for('home.index') }}"> RTA <small>indicators</small></a></h3>
      <ul class="nav">
        <li class="active"><a href="{{ url_for('home.index') }}">Dashboard</a></li>
        <li><a href="{{ url_for('home.index') }}"> Compare </a> </li>
        <li><a href="{{ url_for('home.index') }}"> Analysis </a> </li>        
      </ul>
    </div>
  </div>
</div>
