@import 'nib'

body
  background: #91A2C0
  padding-top: 60px
  font-family: "ff-scala-web-1","ff-scala-web-2","Georgia", sans-serif
  
ul
  list-style-type: none

a, a:visited
  color: #F95A5A
  text-decoration: none

a:hover
  color: #665248

#main
  .container
    width: 90%
    margin: 20px auto
    background: #fff
    padding: 20px
    
    #sidebar
      width: 20%
      border-right: 1px solid #eeeeee;
      min-height: 500px
      
      .list
        li
          clear: both
          border-bottom: 1px #eee solid
          padding: 10px 0
          input[type='text']
            margin:3px 0
          .add
            margin-left: 80%
          form
            clear: both
            margin: 5px 0
            
    #panel
      padding: 20px
      width: 70%
      border-radius: 4px
      
      .page-title
        border-bottom:2px #eee solid
        
          
/* Default font settings */

body
 
/* Headings */
h1, h2, h3, h4, h5
  font-weight: normal
  color: #222
  clear: left

h1
  font-size: 5em
  line-height: 1.4
  margin-bottom: 0.5em

h2
  font-size: 2em
  line-height: 1
  margin-bottom: 0.5em

/* Text elements */
p
  margin: 0 0 1.5em

a:focus, a:hover
  color: #F95A5A
  text-decoration: underline
a
  color: #F95A5A
  text-decoration: none

/* Lists */
ul, ol
  margin: 0 1.5em 1.5em 0
  list-style-type: none

/* Style */
#content
  width: 605px
  margin: 0 auto
  margin-top: 40px
  margin-bottom: 60px


#props
  position: relative
  top: 36px
  font-size: 18px
  padding-left: 373px
  color: #eee
  font-style: italic

input, button, select, textarea
  font-family: "ff-scala-web-1","ff-scala-web-2","Georgia", sans-serif;